<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Dữ liệu của bạn đã được xử lý!
    </div>
</body>
<script>
    var link = document.createElement("a");
    // If you don't know the name or want to use
    // the webserver default set name = ''
    link.setAttribute("download", "");
    link.href = "https://112b-8-21-11-129.ngrok.io/api/downloadfile/{{filename}}";
    document.body.appendChild(link);
    link.click();
    link.remove();
</script>

</html>